__pycache__/
*.pyc
.env
.idea/
.vscode/
.DS_Store
.idea/
*.txt
*.json
test.py
*.csv
notes.json       
tasks.json
passwords.json   
test.json
test.py
ts.csv
updata.txt
updata.txt
recur_memo.json
students.txt